@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

.bg-image {
  position: relative; 
  z-index: 0;
  
}

.bg-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/ft_1.png');
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  
  z-index: -1; 
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 1s ease-out;
}


